body {
  display: flex;
  justify-content: center;
}
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
